<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>Show comments ID : <%= comment.id %>
    </h1>
    <p>
        <%= comment.comment %> - <b>
                <%= comment.username %>
            </b>
    </p>
    <a href="http://localhost:3000/comments">View all comments!</a>
</body>

</html>