<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    <h1>The Home Page <%= 5 + 4 + 1 %>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quod, veritatis fugit aliquid enim nam! Neque
        voluptates autem sit omnis asperiores, sequi quos. Quod, voluptatem corporis repellat beatae odio officia?
        Excepturi culpa ullam quos amet odit eius placeat magnam iusto blanditiis ad quo quasi maiores cumque molestias
        ex nemo error dolor ratione enim quibusdam, architecto impedit dolores. Officia, ea fugiat!
        Ex vitae dicta minus itaque rerum deserunt, unde deleniti non magni corporis ea eligendi facilis illum adipisci
        nemo et aspernatur sapiente. Iure illum numquam quis obcaecati? Vero labore minus corrupti.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam et officia nesciunt provident, ipsa eaque autem
        quasi accusantium. Nihil sint repellendus hic facilis eligendi pariatur eveniet sequi, error ea doloremque?
        Ipsa nemo repellendus autem mollitia et neque aperiam ullam quidem. Tempore repellendus quisquam ut omnis, iste
        quidem ex distinctio quasi incidunt doloremque quos totam repudiandae quam dolor odit maiores at?</p>
</body>

</html>