<%- include('partials/head') %>

    <%- include('partials/navbar') %>

        <h1>Not Found</h1>
        <p>We've not found your <p%= subreddit %> subreddit</p>

        <%- include('partials/footer') %>